/* div{
    height: 100px;
    width: 100px;
    background-color: dodgerblue;
    color: white;
    border: 3px solid blueviolet;
} */


.dark{
    background-color: black;
    color: white;
}

.light{
    background-color: white;
    color: black;
}